{% extends 'base.html' %}
{% block body %}

{% load staticfiles %}
    <header class="header" style="background-image: url({% static 'image/aheader.png' %});">
        <h3 class="display-2" style="color:white;text-shadow:black 2px 3px 4px; ">
            Школа-гимназия №31
        </h3>
        <p class="lead" style="color:black;text-shadow:white 1px 2px 3px;"><b>г.Бишкек, ул.Павлова,14</b></p>
        </div>
    </header>

    <div class="container-fluid " style="background: #ffb366;
">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 mt-5">
               <div class="card">
                    <img src={% static "image/scho.png" %} alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Школа-гимназия №31</h4>
                        <p class="card-text">. . . . . . . .</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2>О нас</h2>


                <div class="card mt-2">
                    <img src="{% static 'image/about.jpg' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Вас приветствует школа-гимназия №31! </h4>



                            <p class="card-text">
                                Школа – это целый мир, в котором всегда чувствуется биение жизни, ход истории. Школа призвана  сохранять и развивать традиции воспитания, которые веками складывались у народа Кыргызстана. Дети – это будущее Кыргызстана! 
                                Школа должна  раскрывать таланты детей, помогать воплощать  в реальные дела и достижения.
                                Кыргызстан переживает сегодня один из самых трудных, 
                                но вместе с тем, один из самых ярких этапов своего развития. Страна укрепляет государственность. Развивает инфраструктуру. Реализует крупные экономические проекты. Выстраивает отношения с другими странами.
                                В связи с этим одной из важнейших задач в связи с этим является воспитание нового гражданина Кыргызстана.
                                Если рассматривать вопрос обучения
                                и воспитания подрастающего поколения в мировом масштабе, то глобализация образования – процесс все большего приспособления системы обучения
                                к запросам глобальной рыночной экономики.В условиях глобализации роль образования в решении задач модернизации  общества  является приоритетной в современной образовательной политике.
                                Образование находится в эпицентре глобализации.
                                Именно в школахначинается процесс формирования  нового поколения, которое в недалеком будущем   будет принимать решения по всем ключевым вопросам политики, экономики, финансов, идеологии,
                                образования и воспитания, общественных и естественных наук, культуры, информации и коммуникации, другими словами, – они будут строить общество будущего.  Школа – это фундамент  подготовки новых человеческих ресурсов страны.
                                Задачи, стоящие перед школами Кыргызстана  сегодня -это задачи  государственной важности, решить которые  могут работающие в новом формате учителя. В нашей республике много инновационных школ ,которые, несмотря на общие цели и 
                                задачи по обучению и воспитанию нового поколения граждан Кыргызстана ,
                                разработали свои стратегические программы  и идут по своей личной траектории развития.</p>
                        </div>

                    </div>

                </div>
            <div class="col-lg-3 col-md-12 col-sm-12 mt-5">
                <div class="card">
                    <img src={% static "image/scho.png" %} alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Школа-гимназия №31</h4>
                        <p class="card-text">. . . . . . . .</p>
                    </div>
                </div>

                <div class="card mt-3">
                    <h4 class="card-title">Галерея</h4>
                    <div class="row">
                        <div class="col ml-2">
                            <img src={% static "image/222.jpg" %} alt="" class="card-img">
                        </div>
                        <div class="col mr-2">
                            <img src={% static "image/22.jpg" %} alt="" class="card-img">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col ml-2">
                            <img src={% static "image/2222.jpg" %} alt="" class="card-img">
                        </div>
                        <div class="col mr-2">
                            <img src={% static "image/22222.jpg" %} alt="" class="card-img">
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

{% endblock %}