{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}

 <div class="container-fluid mt-5 mb-5 p-4" style="background: #ffcc99;border: 2px solid white;">
    <h2>Сведения о школе</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                 <div class="card" style="height: 500px">
                     <img src="{% static 'image/1-2-960x642.jpg' %}" alt="" class="card-img-top" style="height: 170px">
                <div class="card-body">
                <h4 class="card-title"></h4>
                    <p class="card-text">
В школе имеются 55 учебных кабинетов, оснащенных современной мультимедийной
и компьютерной техникой.
                    </p>
                </div>
            </div>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                 <div class="card" style="height: 500px">
                     <img src="{% static 'image/uchitelya-415x307.jpg' %}" alt="" class="card-img-top" style="height: 170px">
                <div class="card-body">
                <h4 class="card-title"></h4>
                    <p class="card-text">
Кабинеты завучей, позволяющие системно вести работу по внутришкольному контролю, по повышению качества знаний учащихся, отслеживанию и мониторингу результатов учебно- воспитательного процесса в целом.
                    </p>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                 <div class="card" style="height: 500px">
                     <img src="{% static 'image/one.jpg' %}" alt="" class="card-img-top" style="height: 170px">
                <div class="card-body">
                <h4 class="card-title"></h4>
                    <p class="card-text">
Актовый зал, оснащение которого позволяет проводить мероприятия на высочайшем уровне, где проводятся конкурсы, мероприятия, педагогические Советы, семинары.
                    </p>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12" >
                 <div class="card" style="height: 500px" >
                     <img src="{% static 'image/с3.jpg' %}" alt="" class="card-img-top" style="height: 170px">
                <div class="card-body">
                <h4 class="card-title"></h4>
                    <p class="card-text">
Методический  кабинет, оснащенный современной компьютерной техникой, дающий возможность педагогам ознакомиться с новейшими разработками в сфере образования.
                    </p>
                </div>
            </div>
            </div>

</div>
 </div>

    <div class="container-fluid mt-5 mb-5 p-4" style="background: #ffcc99; border: 2px solid white;">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">Характерной чертой работы и жизнедеятельности школы является стабильность и высококвалифицированный  сплоченный педагогический коллектив, способный обеспечить высокий уровень обучения, создать условия для индивидуального развития учеников. В школе  действуют следующие методические объединения учителей:
                <ol>
                    <li>МО учителей гуманитарного цикла;</li>
                    <li>МО учителей естественно математического цикла;</li>
                    <li>МО классных руководителей;</li>
                    <li>МО учителей государственного языка;</li>
                    <li>МО учителей начальной школы;</li>
                    <li>МО учителей кыргызской школы;</li>
                    <li>МО учителей иностранного языка;</li>
                    <li>МО руководителей кружков.</li>
                </ol>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    Одним из направлений инновационной деятельности школы является экспериментальная работа, проводимая в соответствии со стратегией развития школы на 2010- 2020 годы.  Для реализации поставленных задач экспериментальной деятельности школа активно сотрудничает со многими ВУЗами: Институтом Конфуция при  КНУ им. Ж.  Баласагына , КГУ им. Арабаева, Центром образования Республики Корея  в г. Бишкек при  посольстве Республики Корея в КР, Кыргызской Государственной Юридической Академией, Бишкекской Финансово- экономической Академией
                </div>
            </div>
        </div>
    </div>



{% endblock %}