{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}

    <div class="container-fluid mt-5 mb-5" style="background: #ffcc99;">
    <h2>Сведения о школе</h2>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">

                <img src={% static 'image/shkola-31-1024x577.jpg' %} alt="" style="width:20rem;">

            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                 <div class="card" >
                <div class="card-body">
                <h4 class="card-title">Становление школы</h4>
                <p class="card-text">Школа-гимназия № 31 прошла большой путь становления от неполной средней школы до школы-гимназии.За эти годы у нее сложилась своя  история, сформировались свои традиции.
                    Средняя общеобразовательная школа №31 была открыта в 1955 году. Но как гимназия  она сравнительно молодая. Статус «школы- гимназии» она получила недавно – в 2009 году.</p>
                    <div class="collapse" id="collapseExample"><p> До этого следовало несколько лет неустанного и плодотворного труда всего педагогического коллектива.   В соответствии с требованиями к статусным школам была  составлена программа развития  на период с 2010 по 2020 годы. Данная программа -это система мер, направленных на создание условий для достижения нового образовательного результата за счет изменения содержания и технологий обучения, активного использования тех из них, которые формируют информационно-коммуникационную компетентность, навыки самообучения,
опыт ответственного выбора, опыт самоорганизации и становления ценностных ориентиров, обеспечение индивидуально – дифференцированного подхода к каждому ребёнку.
Методической темой, над которой работает педагогический коллектив, является «Овладение эффективными  педагогическими  технологиями,  внедрение новых технологий обучения и воспитания в образовательный процесс для формирования ключевых компетенций учащихся».  В настоящее время школа-гимназия № 31 ищет свой индивидуальный путь развития в обновленной системе образования Кыргызской Республики, который связан с реализацией новых принципов и направлений в подходе к обучению и воспитанию подрастающего поколения.
                        Учебно- материальная база школы позволяет проводить учебно- воспитательную работу на высоком  уровне, системно и  организованно</p></div>
                     <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Читать полностью
  </a>
                </div>
            </div>
        </div>

</div>

    </div>


    <div class="container-fluid mt-5 mb-5" style="background: #ffcc99">
    <h2>Сведения о школе</h2>
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12">
                 <div class="card" >
                <div class="card-body">
                <h4 class="card-title">История школы</h4>
                <p class="card-text">Год 1939.В стране проходят II Съезд ЛКСМ Киргизии,
III съезд Коммунистической партии.
Развивается наука, искусство, образование.
Премьера первой киргизской оперы “Айчурек”.
В Москве проходит первая декада кыргызского искусства.
Открыт Кыргызский государственный медицинский институт.
В августе прошел I Съезд учителей Киргизии.
Для 31 школы- этот год- год её рождения. Подписан приказ отдела народного образования города Фрунзе об открытии начальной школы №31.
                </p>
                    <div class="collapse" id="collapseExample1"><p>Год 1954. У руля стояло много директоров. К сожалению, не все архивные данные сохранились. Но мы будем помнит всех, кто внес свою лепту в дело обучения и воспитания, вписал свою страницу в историю школы.
Это Фомин Яков Иванович,
Балбачян Луиза Варфоломеевна,
Иванова Вера Ивановна.
                    Год 1997.
В стенах школы закипела новая жизнь. Во главе энергичного и дружного коллектива – директор нового формата- смелый новатор, энергичный и креативный- Омурзакова Т. О. У нее всегда находились единомышленники, друзья, понимающие и поддерживающие люди.
                    Год 2009.
Вот она, вершина- школе присвоен статус школы- гимназии!!!  вот уже восемь лет гордо несет коллектив это   звание.
                     Год 2011.
Начало плодотворного сотрудничества с Институтом Конфуция.
                    С 2009 года в соответствии с социальным заказом родителей в школе- гимназии №31 введено изучение китайского языка. С 2010 года школа- гимназия сотрудничает с институтом Конфуция при КНУ им Ж. Баласагына. На сегодняшний день учителями китайского языка разработано множество методических разработок и учебных пособий, используемых на уроках китайского языка.
Ежегодно проводится школьная олимпиада по китайскому языку. Победители школьной олимпиады получают  заслуженные награды. Лучшие из них получают возможность защищать честь школы на республиканской олимпиаде по ораторскому искусству на китайском языке.
Победитель республиканской олимпиады 2013 года по ораторскому искусству и участница Международного конкурса по китайскому языку в городе Куньминь Кожоналиева Айжана.</p></div>
                     <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
    Читать полностью
  </a>
                </div>
            </div>
        </div>
             <div class="col-lg-4 col-md-12 col-sm-12">

                <img src={% static 'image/shola-31-2-1210x642.jpg' %} alt="" style="width:20rem;">

            </div>

</div>

    </div>

{% endblock %}