{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}

<div class="container-fluid">
<h2 class="display-2">Расписание</h2>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Открыть расписание 5-классы
  </a>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">

    <table class="table table-sm table-bordered table-striped">
        <h4>Понедельник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Вторник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Математика - 24</td>
                <td>Музыка - 49</td>
                <td>Русский язык - 42</td>
                <td>Кыргызский язык - 25/46</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Русский язык - 42</td>
                <td>Математика - 24</td>
                <td>Естествознание</td>
                <td>Физ. воспитание - с.з</td>
                <td>Кыргыз тили - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Русская литература - 42</td>
                <td>Математика - 24</td>
                <td>Английский язык - 19/40</td>
                <td>Естествознание - 17</td>
                <td>Кыргыз адабияты - 47</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Музыка - 49</td>
                <td>История КР - 53</td>
                <td>Физ.воспитание - с.з</td>
                <td>Английский язык - 19/40</td>
                <td>Орус адабияты - 47</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Английский язык - 23/50</td>
                <td>Русский язык - 6</td>
                <td>Кыргызский язык - 28/38</td>
                <td>ИХТ - 26</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Кл. час</td>
                <td>Английский язык - 23/50</td>
                <td>Математика - 24</td>
                <td>Кл.час</td>
                <td>Дене тарбиясы - с.з</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Среда</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>ОБЖ 17</td>
                <td>Математика 33</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Математика 33</td>
                <td>Кыргызский язык 28/а.з</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык 46/а.з</td>
                <td>Английский язык 23/50</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русский язык - 42</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Математика 24</td>
                <td>Русская литература 24</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русский язык 54</td>
                <td>Математика 33</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Четверг</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>История КР 53</td>
                <td>Физ.воспитание с/з</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Кыргызский язык 29/а.з</td>
                <td>Английский язык 23/50</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Английский язык 23/50</td>
                <td>Русский язык - 6</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Математика 24</td>
                <td>Кыргызский язык 29/а.з</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык 29</td>
                <td style="color: green">Математика 24</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Физ.воспитание</td>
                <td>Кл. час</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Пятница</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>ИХТ 45</td>
                <td>Кыргызский язык 19/40</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Кыргызская литература а/з</td>
                <td>Этика 24</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Английский язык 23/50</td>
                <td>Русский язык - 24</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Этика 33</td>
                <td>ИХТ</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td style="color: green">Английский язык 23/50</td>
                <td>Английский язык - 23/50</td>
                <td>ОБЖ 17</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русский язык 54</td>
                <td>Английский язык 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Суббота</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>5a</th>
            <th>5б</th>
            <th>5в</th>
            <th>5г</th>
            <th>5к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    </div>

    <div class="container-fluid mt-3 mb-5" >
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
    Открыть расписание 6-классы
  </a>

    <div class="collapse" id="collapseExample1">
        <div class="card card-body">

    <table class="table table-sm table-bordered table-striped">
        <h4>Понедельник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Вторник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Среда</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Четверг</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Пятница</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped">
        <h4>Суббота</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>6a</th>
            <th>6б</th>
            <th>6в</th>
            <th>6г</th>
            <th>6к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Естествознание</td>
                <td>Кыргызская литература а.з</td>
                <td>Русский язык - 33</td>
                <td>Русский язык - 42</td>
                <td>Математика - 47</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Естествознание</td>
                <td>История КР - 53</td>
                <td>Русский язык - 42</td>
                <td>К Тарыхы - 47</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - а.з/46</td>
                <td>Русский язык - 29</td>
                <td>Русская литература - 33</td>
                <td>История КР - 53</td>
                <td>ТТТТ</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Английский язык - 23/50</td>
                <td>Русская литература - 29</td>
                <td>Физ.воспитание - с.з</td>
                <td>Физ. воспитание - с.з</td>
                <td>Англис тили - 47/51</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 33</td>
                <td>Английский язык - 23/50</td>
                <td>Этика - 33</td>
                <td>Анлийский язык - 23/50</td>
                <td>Орус тили - 47</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 29</td>
                <td>Физ. воспитание</td>
                <td>Кл. час</td>
                <td>Математика - 24</td>
                <td>Кыргыз тили - 47</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    </div>
{% endblock %}