 <div class="container-fluid mt-3" >
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
    Открыть расписание 8-классы
  </a>

    <div class="collapse" id="collapseExample3">
        <div class="long-view" style="overflow: scroll;">

    <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Понедельник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Биология - 45</td>
                <td>География</td>
                <td>Английский язык - 19/40</td>
                <td>Физ. воспитание - с/з</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Кыргызский язык - 46/а/з</td>
                <td>Русский язык - 41</td>
                <td>Русский язык - 29</td>
                <td>Кыргызский язык - 28/38</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>География - 30</td>
                <td>Русская литература - 41</td>
                <td>География - 30</td>
                <td>Английский язык - 19/40</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Русский язык - 41</td>
                <td>Английский язык - 19/40</td>
                <td>История КР - 53</td>
                <td>География - 30</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Английский язык - 19/40</td>
                <td>Кыргызский язык - 38/46</td>
                <td>Физ. воспитание - с/з</td>
                <td>Русский язык - 29</td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Русская литература - 41</td>
                <td>Биология - 45</td>
                <td>Русский язык - 29</td>
                <td>Математика - 52</td>
                <td></td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Вторник</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Русский язык - 41</td>
                <td>Мир. история - 53</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Мир. история - 53</td>
                <td>Музыка - 49</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Музыка - 49</td>
                <td>Русский язык - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Математика - 24</td>
                <td>Кыргызский язык - 46/51</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td style="color: green">Английский язык - 19/40</td>
                <td>Математика - 24</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td style="color: green">Русский язык - 41</td>
                <td>Математика - 24</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Среда</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Кыргызская литература - а/з</td>
                <td>Физ. воспитание с/з</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Физ.воспитание</td>
                <td>Русский язык - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Математика - 33</td>
                <td>Русский язык - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Русский язык - 41</td>
                <td>Математика - 33</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русский язык - 41</td>
                <td style="color: green">Биология - 52</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>География - 30</td>
                <td>ИХТ</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Четверг</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Математика - 33</td>
                <td>Кыргызский язык - </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Математика - 33</td>
                <td>Биология - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - 29/а.з</td>
                <td>Математика - 33</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Этика - 33</td>
                <td>Английский язык - 19/40</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Биология - 41</td>
                <td>География - 30</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Английский язык - 19/40</td>
                <td style="color: green">Математика - 24</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                <td>7</td>
                <td></td>
                <td style="color: blueviolet">Классный час</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Пятница</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td>Физ. воспитание </td>
                <td>Этика - 24</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Русский язык - 41</td>
                <td>Кыргызский язык -</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кыргызский язык - 40/а.з</td>
                <td>История КР - 53</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>История КР - 53</td>
                <td>Русский язык - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Русская литература - 41</td>
                <td>Физ. воспитание </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>ИХТ - 24</td>
                <td>Русская литература - 41</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                <td>7</td>
                <td style="color: blueviolet">Классный час</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
            <table class="table table-sm table-bordered table-striped" style="background: white">
        <h4>Суббота</h4>
    <thead>
        <tr>
            <th>#</th>
            <th>8a</th>
            <th>8б</th>
            <th>8в</th>
            <th>8г</th>
            <th>8к</th>
        </tr>
    </thead>
        <tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    </div>